@font-face {

    font-family: 'BonitoVerano';
    src: url('/fuentes/PrettySummer.ttf') format('truetype');
    font-weight: bold;
    font-style:normal;
}

body {

    background-color: pink;
    font-family: BonitoVerano;

}

#cabecera {

    background-color: rgb(246, 89, 227);
    padding: 15px;

}

#cabecera a {

    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: larger;

}

#textoMultiAventura {

    width: 100%;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px black;

}

#cabecera a:hover {

    background-color: rgb(255, 154, 218);
    color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: larger;

}

#cuerpo {

    text-align: center;

}

.imagen-oculta-cartelico {

    background-color: rgb(255, 154, 218);
    text-align: center;
    position: relative;
    color: black;
    font-weight: bold;
    margin: 20px;
    padding: 15px;
    border: 2px solid black ;
    border-radius: 5px;
    width:226px;
    height:348px;

}

.texto-cartelico {

    padding-top: 160px;
    text-shadow: 3px 2px 5px black;

}

.texto-cartelico p:hover {

    text-shadow: 40px 40px 40px black;
    background-color: rgb(95, 95, 95);

}

#cartel1:hover {

    color: white;
    position: relative;
    background-image: url(/imagenes/atalaya.jpg);
    background-repeat: no-repeat;
    
}

#cartel2:hover {

    color: white;
    position: relative;
    background-image: url(/imagenes/rio.jpg);
    background-repeat: no-repeat;
    
}

#cartel3:hover {

    color: white;
    position: relative;
    background-image: url(/imagenes/cuevaSerreta.jpg);
    background-repeat: no-repeat;
    
}
