
#Titulo {

    background-color: rgb(197, 197, 197);
    color: blue;
    text-align: center;

}

span {

    text-decoration: underline;

}

.Caja {

    background-color: lightblue;
    border: solid 10px pink;
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    width: 150px;
    margin-left: 20px;
    margin-bottom: 20px;


}

#Caja1 {

    

}

#Caja2 {

   position: absolute;
   top: 243px;
   left: 260px;

}

#Caja3 {


}

#Caja4 {


}