
body {

    display: flex;
    flex-direction: column;
    align-items: center;  

} 

h2 {

    text-align: center;
    font-weight: bold;

}

table {

    border-collapse: collapse;
    margin: 0 auto;

}



