* {

    box-sizing: border-box;

}

#contenedor1 {

    padding: 10px;
    border: 2px solid grey;
    border-radius: 3px;
    background-color: rgb(232, 232, 232);


}

label {

    font-weight: bold;

}

input {

    padding: 4px;
    border: 2px dashed grey;
    border-radius: 3px;

}

button {

    background-color: rgb(65, 220, 65);
    border: 1px solid grey;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    width: 100px;
    height: 40px;

}

#correcto {

    color: green;

}   

#error {

    color: red;

}